@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-jp-v40-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v40-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v40-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v40-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v40-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v40-latin-500.svg#\1') format('svg'); /* Legacy iOS */
}
