@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/noto-sans-jp-v28-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-100.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-jp-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-300.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-jp-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-500.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-jp-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-jp-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-jp-v28-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/noto-sans-jp-v28-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v28-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v28-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v28-latin-900.svg#\1') format('svg'); /* Legacy iOS */
}
